node_modules

# Output
.output
.vercel
/ui/.svelte-kit
**/build/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
.env*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# # Playwright/ Vitest
/ui/test-results
screenshot.png
page-load-failure-*.png

# Dev
zarf-sbom
tmp/
*.tar.zst
.vscode/
state.json

*.pem
.github/test-infra/**/.terraform*

# Allow certs in hack/certs
!hack/certs/cert.pem
!hack/certs/key.pem
