node_modules

# Output
.output
.vercel
/ui/.svelte-kit
**/build/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# # Playwright/ Vitest
/ui/test-results

# Dev
zarf-sbom
tmp/
*.tar.zst


.github/test-infra/**/.terraform*
